header {
  width: 100%;
  height: 10vh;
  background-color: #40caa8;
  flex-direction: row;
  justify-content: center;
  text-align: center; }
  header h1 {
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif; }

footer {
  width: 100%;
  height: 7vh;
  background-color: #40caa8;
  justify-content: center; }
  footer p {
    text-align: center;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.social {
  background-color: #3EFF99;
  width: 65px;
  position: absolute;
  right: 25px; }
  .social ul {
    list-style: none;
    padding: 1rem;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    align-items: center; }
    .social ul li {
      transition: all 0.5s ease; }
      .social ul li a {
        text-decoration: none;
        font-size: 2rem; }
      .social ul li:hover {
        transform: scale(1.2); }

.primary {
  background-color: #3acce6;
  width: 270px;
  height: 25px;
  border: 1px solid #3acce6;
  border-radius: 3px; }

.secondary {
  background-color: #1ca857;
  width: 270px;
  height: 25px;
  border: 1px solid #1ca857;
  border-radius: 3px; }

.success {
  background-color: #a59fff;
  width: 270px;
  height: 25px;
  border: 1px solid #a59fff;
  border-radius: 3px; }

.info {
  background-color: #bb6464;
  width: 270px;
  height: 25px;
  border: 1px solid #bb6464;
  border-radius: 3px; }

.warning {
  background-color: #e6cf07;
  width: 270px;
  height: 25px;
  border: 1px solid #e6cf07;
  border-radius: 3px; }

.card-body {
  background-color: #00e45f;
  color: #333333; }

* {
  margin: 0;
  padding: 0; }

body {
  background: #3EFF99;
  background: -webkit-radial-gradient(right, #3EFF99, #EDEDED);
  background: -moz-radial-gradient(right, #3EFF99, #EDEDED);
  background: radial-gradient(to left, #3EFF99, #EDEDED); }

main {
  width: 100%;
  margin: 0 auto; }
  main .title {
    justify-content: baseline;
    font-style: italic;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Righteous', cursive; }
  main .article {
    font-style: italic; }
  main .img {
    width: 700px;
    height: 550px; }

/*Creamos el bucle para usar los valores del mapa*/
.btn--twitter {
  color: #55acee;
  font-size: 4rem;
  padding: 1rem; }

.btn--facebook {
  color: #3a5795;
  font-size: 4rem;
  padding: 1rem; }

.btn--send-mail {
  color: #74135b;
  font-size: 4rem;
  padding: 1rem; }

.btn--youtube {
  color: #e41c1cce;
  font-size: 4rem;
  padding: 1rem; }
